
<section [formGroup] = "controlContainer.control"
  class="form-group-section">

  <div class="section-title">
    {{fieldGroup.title}}
  </div>

  <div class="section-body">

  <ng-container *ngFor="let field of fieldDef">

    <!-- INPUT -->
    <mat-form-field *ngIf="field.controlType=='input'"
      [style.width]="field.width">
      <input matInput
        [placeholder]="field.label"
        [name]="field.fid"
        [formControlName]="field.fid"
        [type]="field.dataType" />
    </mat-form-field>

    <!-- SELECT -->
    <mat-form-field *ngIf="field.controlType=='select'">
      <mat-select
        [placeholder]="field.label"
        [formControlName]="field.fid">

        <mat-option *ngFor="let option of field.options"
          [value]="option.id">

          {{option.label}}

        </mat-option>

      </mat-select>
    </mat-form-field>

    <!-- RADIO GROUP -->
    <div *ngIf="field.controlType=='radio'"
      class="mat-form-field flex-col">
      <!-- title -->
      <div class="form-group-title">
        {{field.label}}
      </div>
      <!-- boy -->
      <mat-radio-group
        [class]="field.class"
        [formControlName]="field.fid">

        <mat-radio-button
          *ngFor="let option of field.options"
          [value]="option.id"
          color='primary'>

          {{option.label}}

        </mat-radio-button>
      </mat-radio-group>
    </div>

    <!-- CHECKBOX GROUP -->
    <div *ngIf="field.controlType=='checkbox'"
      class="mat-form-field flex-col">
      <!--title -->
      <div class="form-group-title">
          {{field.label}}
      </div>
      <!--body -->
      <div [class]="field.class">
        <mat-checkbox *ngFor="let option of field.options"
          [formControlName]="option.fid"
          [value]="option.id"
          color='primary'>

          {{option.label}}

        </mat-checkbox>
      </div>
    </div>

    <!-- DATE PICKER -->
    <mat-form-field *ngIf="field.controlType=='datepicker'">
      <input matInput
        [matDatepicker]="datePicker"
        [placeholder]="field.label"
        [formControlName]="field.fid">

      <mat-datepicker-toggle
        matSuffix [for]="datePicker">
      </mat-datepicker-toggle>

      <mat-datepicker #datePicker></mat-datepicker>
    </mat-form-field>

  </ng-container>



  </div>



<!--
  <div *ngFor="let field of fieldDef"
    class="field-row">

    <label>{{ field.label }}</label>
    <input
      [name]="field.fid"
      [formControlName]="field.fid"
      [type]="field.dataType"/>

  </div>
-->

</section>
