//import material theming to use variables
@import '~@angular/material/theming';
@import '../../../material/theme';


:host{
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}

.form-group-section{
  display:flex;
  flex-direction:column;
  border: 1px solid $app-color-border;

  .section-title{
    padding: 16px 8px;
    font-size: 22px;
    font-weight: 600;
    border-bottom: 1px solid $app-color-border;
  }

  .section-body{
    display:flex;
    //flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 16px;

    /*
    .mat-form-field:first-child{
      margin-left: 0px;
    }*/

    .mat-form-field{
      padding: 0px 8px;
    }

  }

}

.form-group-section.ng-touched.ng-invalid{

  .section-title{
    //background-color: red;
    color: mat-color($app-color-warn);
  }

  .section-title::after{
    content:'[incomplete]';
  }
}

.form-group-section.ng-touched.ng-valid{
  //border: 1px solid green;
  /*.section-title{
    //background-color: green;
    color: green;
  }*/

  .section-title::after{
    content:'[valid]';
  }
}

.form-group-title{
  padding: 16px 0px;
}

.mat-control-group{

  .mat-radio-button {
    //padding: 8px 0px;
    line-height: 42px;
  }

  .mat-checkbox{
    line-height: 44px;
    //padding: 8px 0px;
  }

}
